body{
  background-color:white;
}
selector {
  margin: 20 px;
  
p{
  color:orange;
  text-align :right;
  margin-right: 80 px;
  font-family: 'Righteous' ;
}
h1{
  color:orange;
  font-size:50 px;
  font-family: 'Righteous' ;
}

h2{
  color:orange;
  font-family: 'Orbit', sans-serif;

  font-family: 'Orbit' ;

title{
    font-family: 'Righteous' ;


  
     @media (max-width: 600 px){
  }
}

    
}
